---
import Layout from "@/layouts/Layout.astro"
import { supabase } from "@/lib/supabase"
import ContentHeader from "@/components/ContentHeader.astro"
import { Image } from "astro:assets"
import as_001 from "@/assets/images/generative_art/as_001.png"
import as_002 from "@/assets/images/generative_art/as_002.png"
import as_003 from "@/assets/images/generative_art/as_003.png"
import type { Route, ImageRoute } from "@/interfaces"

const projects: Route[] = [
	{
		title: "Cortex",
		params: "/projects/cortex",
	},
	{
		title: "Pwr",
		params: "/projects/pwr",
	},
	{
		title: "SEO dashboard",
		params: "/projects/seo-dashboard",
	}
]

const generativeArt: ImageRoute[] = [
	{
		title: "as_001",
		params: "/generative-art/as_001",
		src: as_001,
		alt: "as_001"
	},
	{
		title: "as_002",
		params: "/generative-art/as_002",
		src: as_002,
		alt: "as_002"
	},
	{
		title: "as_003",
		params: "/generative-art/as_003",
		src: as_003,
		alt: "as_003"
	}
]

const { data: books } = await supabase
	.from('books')
	.select('id,title')
	.order('date_read', { ascending: true })
---

<Layout title="Martin Sollien">
	<div class="flex flex-col lg:flex-row px-7 gap-10 lg:px-20 relative">
		<header class="flex flex-col w-full lg:w-1/2 py-12 lg:py-40 lg:sticky lg:top-0 max-h-screen">
			<h1 class="font-bold text-3xl mb-4 lg:mb-8">Martin Sollien</h1>
			<h2 class="text-xl mb-4">Senior UX developer</h2>
			<p class="main-400">I'm a developer in Oslo that like to use my creativity to build cool stuff.</p>
		</header>
		<main class="py-12 lg:py-40">
			<section>
				<ContentHeader>
					<h2>Résumé</h2>
				</ContentHeader>
				<div class="items-container mx-3 lg:mx-0 lg:mr-3">
					<div class="grid lg:grid-cols-8 lg:gap-4">
						<span class="text-xs py-5 main-400 lg:col-span-2 hidden lg:grid">2021 – Present</span>
						<a
							class="flex-col project-item col-span-6 !hidden lg:!block"
							href="https://www.publicis.no/"
							target="_blank"
						>
							<h3 class="text-lg px-5 pt-5">Senior UX developer @ Publicis</h3>
							<h4 class="px-5 text-base main-400">Front-end developer</h4>
							<p class="text-sm main-400 mt-5 px-5">I have designed, devloped and maintained Cortex – a large data-driven web application
								meant to help our users (both internal and external) make better ad campaigns.
								Cortex provides a way to manage campaigns, budgets, and analytics in real time with ease.
							</p>
							<div class="flex flex-wrap gap-x-2 text-base my-5 px-5">
								<code class="tag">Vue</code>
								<code class="tag">SCSS</code>
								<code class="tag">TypeScript</code>
								<code class="tag">GraphQL</code>
								<code class="tag">Sanity</code>
								<code class="tag">Figma</code>
							</div>
						</a>
						<div
							class="flex-col project-item col-span-6 lg:!hidden"
						>
							<span class="text-xs pt-5 px-5 main-400">2021 – 2024</span>
							<h3 class="text-lg px-5">Senior UX developer @ Publicis</h3>
							<p class="text-sm main-400 mt-5 px-5">I have designed, devloped and maintained Cortex – a large data-driven web application
								meant to help our users (both internal and external) make better ad campaigns.
								Cortex provides a way to manage campaigns, budgets, and analytics in real time with ease.
							</p>
							<div class="flex flex-wrap gap-x-2 text-base my-5 px-5">
								<code class="tag">Vue</code>
								<code class="tag">SCSS</code>
								<code class="tag">TypeScript</code>
								<code class="tag">GraphQL</code>
								<code class="tag">Sanity</code>
								<code class="tag">Figma</code>
							</div>
							<a
								href="https://www.publicis.no/"
								target="_blank"
								class="link-button"
							>
								VISIT SITE
							</a>
						</div>
					</div>
					<div class="grid lg:grid-cols-8 lg:gap-4">
						<span class="text-xs py-5 main-400 lg:col-span-2 hidden lg:grid">2017 – 2020</span>
						<a
							class="flex-col project-item col-span-6 !hidden lg:!block"
							href="https://www.publicis.no/"
							target="_blank"
						>
							<h3 class="text-lg px-5 pt-5">SEO advisor @ Publicis Starcom</h3>
							<p class="text-sm main-400 mt-5 px-5">
								I worked SEO, both technical and on-page,
								which resulted in improved organic traffic for many clients.
								I've had the pleasure of working with a wide range of clients,
								such as Komplett, PSA Groupe (Peugeot, Citroën, DS), Takeda, and many more.
							</p>
							<div class="flex flex-wrap gap-x-2 text-base my-5 px-5">
								<code class="tag">HTML</code>
								<code class="tag">JavaScript</code>
								<code class="tag">Search Console</code>
								<code class="tag">Screaming Frog</code>
								<code class="tag">Analytics</code>
								<code class="tag">Data Studio</code>
							</div>
						</a>
						<div
							class="flex-col project-item col-span-6 lg:!hidden"
						>
							<span class="text-xs pt-5 px-5 main-400">2017 – 2020</span>
							<h3 class="text-lg px-5">SEO advisor @ Publicis Starcom</h3>
							<p class="text-sm main-400 mt-5 px-5">
								I worked SEO, both technical and on-page SEO,
								which resulted in improved organic traffic.
								I've had the pleasure of working with a wide range of clients,
								such as Komplett, PSA Groupe (Peugeot, Citroën, DS), Takeda, and many more.
							</p>
							<div class="flex flex-wrap gap-x-2 text-base my-5 px-5">
								<code class="tag">HTML</code>
								<code class="tag">JavaScript</code>
								<code class="tag">Search Console</code>
								<code class="tag">Screaming Frog</code>
								<code class="tag">Analytics</code>
								<code class="tag">Data Studio</code>
							</div>
							<a
								href="https://www.publicis.no/"
								target="_blank"
								class="link-button"
							>
								VISIT SITE
							</a>
						</div>
					</div>
				</div>
			</section>
			<section>
				<ContentHeader>
					<h2>Projects</h2>
				</ContentHeader>
				<div class="items-container">
					{
						projects.map((project) =>
						<a
							class="project-item"
							href={project.params}
						>
							{project.title}
						</a>)
					}
				</div>
			</section>
			<section>
				<ContentHeader>
					<h2>Generative art</h2>
				</ContentHeader>
				<div class="items-container">
					{
						generativeArt.map((art) =>
						<a
							class="project-item"
							href={art.params}
						>
							<Image
								src={art.src}
								alt={art.alt}
								width="100"
							/>
						</a>)
					}
				</div>
			</section>
			<section>
				<ContentHeader subtitle="order::last_read">
					<h2>Books read</h2>
				</ContentHeader>
				<div class="books-container">
					{
						books && books.map((book) => (
							<a
								class="book-item"
								href={`/books/${book.id}`}
							>
								{book.title}
							</a>
						))
					}
				</div>
			</section>
			<div class="image-modal">
				<img
					id="modal-image"
					src=""
					alt=""
					class="photography"
				/>
			</div>
		</main>
	</div>
	<script>
		const photographies = document.querySelectorAll(".photography")

		function openModal(src: string | null, alt: string | null): void {
			console.log(src, alt)
		}

		photographies.forEach(photography => {
			const src: string | null = photography.getAttribute('src')
			const alt: string | null = photography.getAttribute('alt')

			photography.addEventListener('click', () => {
				openModal(src, alt)
			})
		})
	</script>
</Layout>


<style lang="scss">
$text-glow: #121615;

@mixin grid-cell {
	display: flex;
	text-overflow: ellipsis;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		background-color: var(--main-color-85);

		h3 {
			text-shadow:
			0 0 10px #fff,
			0 0 20px #ffffff,
			0 0 30px $text-glow,
			0 0 40px $text-glow,
			0 0 50px $text-glow,
			0 0 60px $text-glow,
			0 0 70px $text-glow;
		}
	}
}

@mixin border-offset {
	margin: -1px;
}

@mixin border-y-offset {
	margin-bottom: -1px;
	margin-top: -1px;
}

code {
	font-family: "Istok Web";

	&:nth-of-type(2n) {
		color: var(--main-color-40);
	}
}

section {
	.items-container {
		display: flex;
		flex-direction: column;
	}

	.books-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap-reverse;
		gap: 1px;
		margin: 0 10px;
		border-left: var(--default-border);
	}
}

.project-item {
	@include grid-cell;

	margin-top: -1px;
	width: 100%;
	border: var(--default-border);
	transition: 0.2s ease-in-out;

	&:last-of-type {
		margin-bottom: -1px;
	}
}

.book-item {
	@include grid-cell;
	@include border-offset;

	position: relative;
	justify-content: flex-start;
	padding: 10px 5px;
	height: 200px;
	border: var(--default-border);
	text-align: left;
	writing-mode: vertical-rl;
}

.photography {
	padding: 10px;
	width: auto;
	margin: -1px;
	margin-right: 0;
	margin-bottom: 0;
	border: var(--default-border);
}
</style>
