---
import { Image } from "astro:assets"

const { href, title, src, alt, linkText, classes, target } = Astro.props
---

<div
	class={`relative flex-col project-item -mt-px lg:hover:bg-main-850 ${classes || ''}`}
>
	<div class="grid lg:grid-cols-8 gap-4 mb-5">
		<div class="lg:col-span-2 lg:mt-5 ml-5 order-last lg:order-first">
			<Image
				src={src}
				alt={alt}
				class="border border-main-default rounded-lg max-h-44 w-auto"
			/>
		</div>
		<div class="lg:col-span-6 mt-5">
			<a class="text-lg text-glow">
				<p class="flex gap-x-2 flex-wrap items-center px-5">
					<span class="flex gap-x-2 items-center">
						{ title }
						<svg class="hidden lg:block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"></path><path d="M13 18l6-6"></path><path d="M13 6l6 6"></path></g></svg>
					</span>
				</p>
			</a>
			<slot />
		</div>
	</div>
	<a
		href={href}
		target={target}
		class="link-button mb-5 lg:!hidden"
	>
		{linkText}
	</a>
	<a
		href={href}
		target={target}
		class="absolute top-0 left-0 w-full h-full hidden lg:block"
	/>
</div>

<style lang="scss">
.project-item {
	border: var(--default-border);
	transition: 0.2s ease-in-out;

	&:hover {
		cursor: pointer;

		svg {
			margin-left: 10px;
		}
	}

	svg {
		width: 15px;
		height: 15px;
		transition: 0.2s ease-in-out;
	}
}
</style>
