---
import Layout from "@/layouts/Layout.astro"
import { supabase } from "@/lib/supabase"

export async function getStaticPaths() {
    let { data: books } = await supabase
        .from('books')
        .select('*')
    
    return books ? books.map((book) => ({
        params: {
            book: book.id
        }
    })) : []
}

const { book } = Astro.params

let { data: bookObject } = await supabase
    .from('books')
    .select('*')
    .eq('id', book)
    .single()
---

<Layout title={bookObject.title}>
    <main>
        <div class="content-header">
            <h1>
                {bookObject.title}
            </h1>
            <p>{bookObject.author}</p>
        </div>
        <section>
            <p class="rating">My rating: {bookObject.my_rating}</p>
            <p class="rating">Average rating: {bookObject.average_rating}</p>
            <p>Pages: {bookObject.number_of_pages}</p>
            <p>Publisher: {bookObject.publisher}</p>
            <p>Published: {bookObject.publication_year}</p>
        </section>
    </main>
</Layout>

<style>
    .content-header {
        padding: 100px 30px 10px 30px;
		border: var(--default-border);
    }

    section {
        padding: 10px 30px;
        border-left: var(--default-border);
        border-right: var(--default-border);
    }

    .rating::after {
        content: "/5";
    }
</style>