---
import Layout from "@/layouts/Layout.astro"
import { supabase } from "@/lib/supabase"

export async function getStaticPaths() {
    let { data: books } = await supabase
        .from('books')
        .select('*')
    
    return books ? books.map((book) => ({
        params: {
            book: book.id
        }
    })) : []
}

const { book } = Astro.params

let { data: bookObject } = await supabase
    .from('books')
    .select('*')
    .eq('id', book)
    .single()
---

<Layout title={bookObject.title}>
    <main>
        <div class="content-header">
            <h1>{bookObject.title}</h1>
            <p>{bookObject.author}</p>
        </div>
        <section>
            <dl>
                <div class="flex row gap-5">
                    <dt>My rating</dt>
                    <dd class="rating">{bookObject.my_rating}</dd>
                </div>
                <div class="flex row gap-5">
                    <dt>Average rating</dt>
                    <dd class="rating">{bookObject.average_rating}</dd>
                </div>
                <div class="flex row gap-5">
                    <dt>Pages</dt>
                    <dd>{bookObject.number_of_pages}</dd>
                </div>
                <div class="flex row gap-5">
                    <dt>Publisher</dt>
                    <dd>{bookObject.publisher}</dd>
                </div>
                <div class="flex row gap-5">
                    <dt>Published</dt>
                    <dd>{bookObject.publication_year ?? "Unknown"}</dd>
                </div>
            </dl>
        </section>
    </main>
</Layout>

<style>
    .content-header {
        padding: 100px 30px 10px 30px;
		border: var(--default-border);
    }

    section {
        padding: 10px 30px;
        border-left: var(--default-border);
        border-right: var(--default-border);
    }

    .rating::after {
        content: "/5";
    }

    dt {
        color: var(--main-color-40);
    }
</style>