---
import Layout from "@/layouts/Layout.astro"
import { supabase } from "@/lib/supabase"

export async function getStaticPaths() {
    let { data: books } = await supabase
        .from('books')
        .select('*')
    
    return books ? books.map((book) => ({
        params: {
            book: book.id
        }
    })) : []
}

const { book } = Astro.params

let { data: bookObject } = await supabase
    .from('books')
    .select('*')
    .eq('id', book)
    .single()
---

<Layout title={bookObject.title}>
    <main>
        <h1>
            {bookObject.title} by {bookObject.author}
        </h1>
        <section>
            <p>{bookObject.my_rating}</p>
            <p>{bookObject.publisher}</p>
            <p>{bookObject.publication_year}</p>
            <p>{bookObject.average_rating}</p>
            <p>{bookObject.number_of_pages}</p>
        </section>
    </main>
</Layout>

<style>
    h1 {
        padding: 100px 30px 10px 30px;
		border: var(--default-border);
    }

    section {
        padding: 10px 30px;
        border-left: var(--default-border);
        border-right: var(--default-border);
    }
</style>