---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import CortexTimeline from "@/assets/images/projects/psm_campaign_timeline_shot.jpg"
import CortexSpending from "@/assets/images/projects/cortex_spending.jpg"
import CortexLogin from "@/assets/images/projects/cortex_login_v2.jpg"
import CortexTypefaceLogo from "@/assets/images/projects/cortex_typeface_logo.jpg"

function yearsAndMonths(): string {
    const start = new Date('2020-01-01')
	const end = new Date()
	const yearDiff = end.getFullYear() - start.getFullYear()
	const monthDiff = end.getMonth() - start.getMonth()
	const totalMonths = yearDiff * 12 + monthDiff
	const years = Math.floor(totalMonths / 12)
	const months = totalMonths % 12

	return `${years} year${years > 1 ? 's' : ''} and ${months} month${months === 1 ? '' : 's'}`
}
---

<Layout title="Cortex">
    <main>
        <h1 class="content-header">Cortex</h1>
        <section class="content-section grid grid-cols-1 md:grid-cols-2">
			<div class="md:border-r border-r-0">
				<div class="summary-col md:border-r border-r-0">
					<p>
						Cortex is a management tool built in-house for the media agency Starcom. It aims to solve the ever growing
						complexity of digital marketing, and has grown to be an essential part of the day-to-day operations
						for the agancy's clients and employees.
					</p>
					<br>
				</div>
				<div class="content-image-container">
					<Image
						src={CortexTimeline}
						alt="Campaign timeline shot of the Cortex application"
					/>
				</div>
			</div>
			<div class="details-col">
				<h2>Back story</h2>
				<p>
					Cortex has been my continuous dev operation for the past {yearsAndMonths()}. The ecosystem for digital
					marketing grows more and more complex, so the idea behind Cortex is to make it simple to manage campaigns.
					As simple as possible. I was brought in on the team to create a direction for design, as well
					as building to front-end of the application from a ridiculous amount of data through an API layer.
				</p>
				<br>
				<h2>Development</h2>
				<p>The development process has involved building complex pages that present lots of data.
					This includes complicated profiles for clients and users, big forms for adding and conveying user input,
					as well as displaying intricate data across multiple large tables. I've been the desicion maker
					for choosing the right front-end tech stack for this project.
				</p>
				<br>
				<h2>Design</h2>
				<p>When I started working on Cortex, there was only a basic design for the application. It more or less only
					consisted of an elaborate Java based back-end with some simple HTML and CSS through Thymeleaf templating.
					My focus with Cortex have since then been to build and leading the design with a focus on presenting
					and interacting with complex data as simple as possible. I've created a design library for Cortex
					consisting of a branded color scheme, font types, UI components, both available in development and in Figma.
				</p>
			</div>
        </section>
        <h2 class="content-header">Tech stack</h2>
        <section class="base-section">
            <div class="flex flex-wrap gap-x-10">
                <code class="tag">Vue</code>
                <code class="tag">SCSS</code>
                <code class="tag">TypeScript</code>
                <code class="tag">Chart.js</code>
                <code class="tag">Oruga</code>
                <code class="tag">Naive UI</code>
                <code class="tag">GraphQL</code>
                <code class="tag">Git</code>
                <code class="tag">Azure DevOps</code>
                <code class="tag">Sanity</code>
                <code class="tag">Figma</code>
            </div>
        </section>
		<h2 class="content-header">Gallery</h2>
		<section class="gallery-section grid-cols- md:grid-cols-2">
			<Image
				class="gallery-img"
				src={CortexTimeline}
				alt="Campaign timeline shot of the Cortex application"
			/>
			<Image
				class="gallery-img"
				src={CortexSpending}
				alt="Shot of a spending feature for the Cortex application"
			/>
			<Image
				class="gallery-img"
				src={CortexLogin}
				alt="Shot of the current login screen in Cortex"
			/>
			<Image
				class="gallery-img"
				src={CortexTypefaceLogo}
				alt="Design language shot of a typeface demonstration of Cortex"
			/>
		</section>
    </main>
</Layout>

<style lang="scss">
code {
	font-size: 4rem;
	font-family: "Istok Web";

	&:nth-of-type(2n) {
		color: var(--main-color-40);
	}
}

.content-section {
	border-left: var(--default-border);
	border-right: var(--default-border);
}

.content-image {
	width: 100%;
	max-width: 700px;
}

.summary-col {
	padding: 10px 30px;
}

.details-col {
	padding: 10px 30px;
}

.gallery-section {
	display: grid;
	grid-auto-rows: minmax(200px, auto);
	border-left: var(--default-border);
	border-right: var(--default-border);

	img {
		padding: 20px;
		height: 100%;
		aspect-ratio: auto;
		object-fit: cover;
		border-right: var(--default-border);
		border-bottom: var(--default-border);

		&:nth-of-type(even) {
			border-right: none;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
</style>